# ============================================================
# Do NOT upload full PDF data to GitHub
# ============================================================

full_data/
pdf_by_ticker/
raw_data/
processed_data/

*.pdf

# ============================================================
# Do NOT upload Zenodo archive files to GitHub
# ============================================================

zenodo_upload/
archive_files/
release_files/

*.zip
*.7z
*.rar
*.tar
*.gz

# ============================================================
# Python temporary files
# ============================================================

__pycache__/
*.pyc
.ipynb_checkpoints/

# ============================================================
# Operating system files
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Secret / private files
# ============================================================

.env
*.key
*.pem
*.token
